
@font-face {
    font-family: SFU DIN MitAlt;
    src: url("../../static/font/pictos-web.ttf");
}
.clearfix{
    overflow: hidden;
}
.clearfix::before, .clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: none;
    clear: both;
  }


.fl{
    float:left;
}
.fr{
    float:right;
}
.mag-top-4{
    margin-top:0.4rem;
}
.font-white{
    color:#fff;
  }
.bg-white{
    background-color:#fff !important;
}
.empty-box {
    text-align: center;
    margin-top: 2.6rem;
    p{
        font-size: 0.34rem;
    }
}

a:hover{
    text-decoration:none;
}  
a{
    color: initial;
}




.weui-cells__title{
    position: relative;
}