@import "mixin";
@font-face {
    font-family: SFU DIN MitAlt;
    src: url("../../static/font/pictos-web.ttf");
}
.font_red{
 color:@red !important;
}
.font_success{
    color:@green !important;
}
.font_family{
    font-family: SFU DIN MitAlt;
}

.cl{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}
.ctm-center{
    text-align: center;
}












.weui-cells__title{
    position: relative;
}