
@images:'../assets';
@red:#f64d4c;
@green:#2abc4e;


.cl{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
.sc(@size, @color){
	font-size: @size;
	color: @color;
}

.font(@size, @line-height) {  
	font: @ize/@line-height SFU DIN MitAlt;
}